.year-view h1 {
  text-align: center;
}
.month .loader {
  text-align: center;
}
.month .dates,
.month .weekday-name {
  text-align: center;
  line-height: 3em;
  font-size: 0.75em;
}
.month .dates .has-money,
.month .weekday-name .has-money {
  font-style: italic;
}
.month .dates a,
.month .weekday-name a,
.month .dates a:visited,
.month .weekday-name a:visited {
  color: #222222;
  text-decoration: none;
}
.month .dates a:hover,
.month .weekday-name a:hover {
  background: #5bc0de;
  color: white;
}
footer {
  font-size: 0.75em;
  color: #999999;
  padding: 2em 0;
  text-align: center;
}
.add-expense-modal {
  min-width: 500px;
  width: 600px;
}
.modal-footer,
.modal-header {
  border: 0;
}
