<div class="year-view" data-bind="with: currentBudget">
    <h1 data-bind="text: year"></h1>
    <div class="row">
        <div data-bind="month: { monthNb:  0, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-1 col-sm-38 col-sm-offset-1 col-xs-82 col-xs-offset-1"></div>
        <div data-bind="month: { monthNb:  1, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-2 col-sm-38 col-sm-offset-2 col-xs-82 col-xs-offset-1"></div>
        <div data-bind="month: { monthNb:  2, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-2 col-sm-38 col-sm-offset-2 col-xs-82 col-xs-offset-1"></div>
        <div data-bind="month: { monthNb:  3, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-2 col-sm-38 col-sm-offset-1 col-xs-82 col-xs-offset-1"></div>
    </div>
    <div class="row">
        <div data-bind="month: { monthNb:  4, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-1 col-sm-38 col-sm-offset-2 col-xs-82 col-xs-offset-1"></div>
        <div data-bind="month: { monthNb:  5, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-2 col-sm-38 col-sm-offset-1 col-xs-82 col-xs-offset-1"></div>
        <div data-bind="month: { monthNb:  6, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-2 col-sm-38 col-sm-offset-2 col-xs-82 col-xs-offset-1"></div>
        <div data-bind="month: { monthNb:  7, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-2 col-sm-38 col-sm-offset-1 col-xs-82 col-xs-offset-1"></div>
    </div>
    <div class="row">
        <div data-bind="month: { monthNb:  8, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-1 col-sm-38 col-sm-offset-1 col-xs-82 col-xs-offset-1"></div>
        <div data-bind="month: { monthNb:  9, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-2 col-sm-38 col-sm-offset-2 col-xs-82 col-xs-offset-1"></div>
        <div data-bind="month: { monthNb: 10, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-2 col-sm-38 col-sm-offset-1 col-xs-82 col-xs-offset-1"></div>
        <div data-bind="month: { monthNb: 11, year: year, select: $root.daySelect.bind($root) }" class="col-lg-19 col-lg-offset-2 col-sm-38 col-sm-offset-2 col-xs-82 col-xs-offset-1"></div>
    </div>
</div>
