<div>
    <div class="row">
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 0, year: year}"></div>
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 1, year: year}"></div>
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 2, year: year}"></div>
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 3, year: year}"></div>
    </div>
    <div class="row">
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 4, year: year}"></div>
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 5, year: year}"></div>
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 6, year: year}"></div>
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 7, year: year}"></div>
    </div>
    <div class="row">
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 8, year: year}"></div>
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 9, year: year}"></div>
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 10, year: year}"></div>
        <div class="col-sm-21" data-bind="widget: {kind: 'month', month: 11, year: year}"></div>
    </div>
</div>
