<div>
    <div class="row">
        <div class="col-sm-42">
            <div class="form-group">
                <label for="montant" class="sr-only">Montant</label>
                <input type="text" class="form-control input-sm" id="montant" placeholder="Montant prévu (approx.)">
            </div>
        </div>
        <div class="col-sm-42">
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active btn-sm">
                        <input type="radio" name="typeMoney" id="depense" autocomplete="off" checked>Dépense
                    </label>
                    <label class="btn btn-default btn-sm">
                        <input type="radio" name="typeMoney" id="gain" autocomplete="off">Gain
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-42">
            <div class="form-group">
                <label for="description" class="sr-only">Description</label>
                <input type="text" class="form-control input-sm" id="description" placeholder="Description du montant">
            </div>
        </div>
        <div class="col-sm-42">
            <div class="form-group">
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default active btn-sm">
                            <input type="radio" name="repeat" id="unique" autocomplete="off" checked>Unique
                        </label>
                        <label class="btn btn-default btn-sm">
                            <input type="radio" name="repeat" id="monthly" autocomplete="off">Mensuel
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>