<div>
    <div class="row">
        <div class="col-xs-25">
            <p class="form-group-static">
                -150.00
            </p>
        </div>
        <div class="col-xs-34">
            <p class="form-group-static">
                Description
            </p>
        </div>
        <div class="col-xs-25">
            <div class="form-group">
                <label for="real" class="sr-only">Montant réél</label>
                <input type="text" class="form-control input-sm" id="real" placeholder="Montant connu">
            </div>
        </div>
    </div>
</div>